<html>
<head>
  <title>Don {{ local_price_tag }}</title>
  <!-- <link href="static/css/styles.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <div id="donation_info">
    <h1>Validez votre don de {{ local_price_tag }}</h1>
  </div>

  <div id="success" style="display: none">
    <div class="reason">Merci pour votre soutien !</div>
    <!-- <img src="https://media.giphy.com/media/U8bDgsXcnIEFy/giphy.gif" alt="Gif disant merci." /> -->
  </div>

  <div id="payment">

    <!-- Automated payment using user's registered information -->
    <div id="payment-request-button">
          <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Manual payment   -->
    <input id="cardholder-name" type="text" name="name" placeholder="Nom" required>
    <div id="card-element"></div>

    <div id="failure">
      <div class="reason"></div>
    </div>

    <button id="card-button" data-secret="{{ client_secret }}">
      Donner {{ local_price_tag }}
    </button>
    <div id="loading" style="display: none">
        <div class="spinning kune">K</div>
    </div>

    <footer>
      <em>Service de payment en ligne sécurisé par Stripe.</em>
    </footer>
  </div>

  <!-- <script src="/static/js/stripe.js"></script> -->
  <script src="{{ url_for('static', path='/js/stripe.js') }}"></script>
</body>

</html>
